html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.style-h3 {
  font-family: "Roboto", serif;
  font-style: normal;
/*  text-align: center; */
  font-size: 26px;
}
.style-h4 {
  font-family: "Roboto", serif;
  font-style: normal;
  /*text-align: center; */
  font-size: 20px;
  margin-bottom: 0px;
}
a{
  text-decoration: none;
  color: rgb(52, 10, 238);
}
a:hover {
  text-decoration: underline;
  color: rgb(52, 10, 238);
}
.name-text {
  display: flex;
  margin: 0;
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 45px;
  padding-bottom: 10px;
}
.skis-block {
  display: flex;
  flex-flow: column;
  margin-bottom: 39px;
  padding-left: 50px;
}
.my-photo {
  display: flex;
  flex-flow: row;
  width: 182px;
  height: 200px;
  float: left;
}
.skills-name-text{
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 28px;
  text-decoration: none;
  padding-bottom: 30px;
}
.skills-text{
  display: flex;
  align-items: center;
  margin: 0;
  white-space: pre-wrap;
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 28px;
  text-decoration: none;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 205px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.contact{
  display: flex;
  align-items: center;
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 16px;
  padding-right: 6px;
}
.post-icon {
  display: flex;
  padding-right: 6px;
}
.github-icon {
  display: flex;
  padding-right: 6px;
}
.line {
  border: 2px 2px black;
}
.about-me-text {
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 20px;
  padding-right: 50px;
}
.skills-block {
  display: flex;
  flex-flow: row;

}
.skills-block-python {
  display: flex;
/*  align-items: center; */
  flex-flow: column;
  padding-right: 50px;
  justify-content: space-between;
}
.ai-skills {
  display: flex;
}
.yars {
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 5px;
}